name: Docker Buildx

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build with Buildx
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: docker-ci-app:buildx
        cache-from: type=gha
        cache-to: type=gha,mode=max