name: Docker Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build Docker image
      run: docker build -t docker-ci-app:${{ github.sha }} .
    
    - name: Test image
      run: |
        docker run -d -p 3000:3000 --name test docker-ci-app:${{ github.sha }}
        sleep 3
        curl http://localhost:3000
        docker stop test
