name: Labeled Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build with labels
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: docker-ci-app:labeled
        labels: |
          org.opencontainers.image.created=${{ github.event.head_commit.timestamp }}
          org.opencontainers.image.revision=${{ github.sha }}
          org.opencontainers.image.source=${{ github.repositoryUrl }}
          org.opencontainers.image.url=https://github.com/${{ github.repository }}
          org.opencontainers.image.authors=${{ github.actor }}
